<ion-content fullscreen="true">
  <ion-slides pager="true">
    <ion-slide class="step-one">
      <ion-img src="./assets/image/1_before.png"></ion-img>
      <h1>Tahu Gak Sih Indonesia Itu Punya 400 Lebih Lagu Daerah Loh</h1>
      <!-- <p>kalau mau tambah aja lagi</p> -->
      <ion-button color="dark" (click)="next()">Lanjut</ion-button>
    </ion-slide>
    <ion-slide class="step-one">
      <ion-img src="./assets/image/2_before.png"></ion-img>
      <h1>Tahun 2011 Rendang Dinobatkan Sebagai Makanan Terenak Di Dunia</h1>
      <ion-button color="dark" (click)="next()">Lanjut</ion-button>
    </ion-slide>
    <ion-slide class="step-one">
      <ion-img src="./assets/image/3_before.png"></ion-img>
      <h1>Psstt, Komodo Adalah Hewan Yang Sudah Hidup Sejak 4 Juta Tahun Lalu Loh</h1>
      <ion-button color="dark" (click)="finish()">Ayo Mulai</ion-button>
    </ion-slide>
  </ion-slides>
  </ion-content>