<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <p>Suara</p>
      <ion-toggle slot="end" name="suara" ></ion-toggle>
    </ion-item>
    <ion-item>
      <p>Mode</p>
      <ion-toggle slot="end" name="mode" ></ion-toggle>
    </ion-item>
    <ion-item>
      <p>Notifikasi</p>
      <ion-toggle slot="end" name="notifikasi" ></ion-toggle>
    </ion-item>
  </ion-card>

  <ion-button expand="block">
    <h2>Kebijakan Privasi</h2>
  </ion-button>
  <ion-button expand="block">
    <h2>Pusat Bantuan</h2>
  </ion-button>
  <ion-button expand="block">
    Keluar
  </ion-button>

</ion-content>
