<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center; padding-top: 2em;">
        <h1>PENGATURAN</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <!-- <ion-item>
            <p style="padding-top: 20px;">Suara</p>
            <ion-toggle slot="end" name="suara" ></ion-toggle>
          </ion-item> -->
          <ion-item lines="none">
            <p style="padding-top: 20px;">Mode</p>
            <ion-toggle id="themeToggle" (ionChange)="onClick($event)" slot="end" [(ngModel)]="state"></ion-toggle>
          </ion-item>
          <!-- <ion-item>
            <p style="padding-top: 20px;">Notifikasi</p>
            <ion-toggle slot="end" name="notifikasi" ></ion-toggle>
          </ion-item> -->
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button style="width: 50%;">Kebijakan Privasi</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button style="width: 50%;">Pusat Bantuan</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button style="width: 50%;" (click)="logOut()">Keluar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
