.card{
  //transform: translate(-50%, -50%);
  margin: 10px;
  background-color: #8ccfff;
  color: #8ccfff;
}

.background {
  --background: url("/assets/image/finish_question.png") 0 0/100% 100% no-repeat
 }