<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ubah Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
     
  <ion-avatar class="image-center item-avatar">
    <img src="{{imageUrl}}"/>
  </ion-avatar>

  <ion-row>
    <ion-col size="4"></ion-col>
    <input
            style="display: none"
            type="file" (change)="onFileChanged($event)"
            #fileInput>
    <!-- <input type="file" name="inputFile" (change)="chooseFile($event)"> -->
  </ion-row>
  <button class="button" (click)="fileInput.click()">Select File</button>
  <button class="button" (click)="onUpload()">Upload!</button>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Nama Pengguna </ion-label>
              <ion-input type="text"  ngModel name="name" #nameCtrl="ngModel" required [(ngModel)]="name" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email </ion-label>
              <ion-input type="email"  ngModel name="email" #emailCtrl="ngModel" required [(ngModel)]="email" ></ion-input>
            </ion-item>
            
          </ion-list>
          <ion-button type="submit" color="primary" expand="block" (click)="onFinish()" [disabled]="f.invalid">
            Simpan
          </ion-button>
        </form> 
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
