<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button  (click)="goToLeaderboard()">
        <ion-icon name="trophy-outline"></ion-icon>
        <ion-label>Leaderboard</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/','home']">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>
  
      <!-- <ion-tab-button  [routerLink]="['/','home','profile', userId]"> -->
      <ion-tab-button (click)="goToProfil()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>