<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pertanyaan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
      <div class="ion-justify-content-center">
        <img src="assets/image/question.png">
        <h2 id="question">Pertanyaan:</h2>
        <br><br>
        <div class="choice-container" (click)="selectedAnswer(0)">
<!--          <p class="choice-prefix">A</p>-->
          <p class="choice-text" data-number="1">...</p>
        </div>
        <br>
        <div class="choice-container" (click)="selectedAnswer(1)">
<!--          <p class="choice-prefix">B</p>-->
          <p class="choice-text" data-number="2">...</p>
        </div>
        <br>
        <div class="choice-container" (click)="selectedAnswer(2)">
<!--          <p class="choice-prefix">C</p>-->
          <p class="choice-text" data-number="3">...</p>
        </div>
        <br>
        <div class="choice-container" (click)="selectedAnswer(3)">
<!--          <p class="choice-prefix">D</p>-->
          <p class="choice-text" data-number="4">...</p>
        </div>
        <br>
      </div>
    </div>
</ion-content>
