<ion-header>
  <ion-toolbar>
    <!--    <ion-title>question!</ion-title>-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedQuestion.kategori}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  <div class="container">-->
  <!--    <div id="quiz" class="ion-justify-content-center">-->
  <h2>{{loadedQuestion.questions}}</h2>
  <div class="choice-container">
    <p class="choice-prefix">A</p>
    <p class="choice-text" data-number="1">{{loadedQuestion.choices1}}</p>
  </div>
  <div class="choice-container">
    <p class="choice-prefix">B</p>
    <p class="choice-text" data-number="2">{{loadedQuestion.choices2}}</p>
  </div>
  <div class="choice-container">
    <p class="choice-prefix">C</p>
    <p class="choice-text" data-number="3">{{loadedQuestion.choices3}}</p>
  </div>
  <div class="choice-container">
    <p class="choice-prefix">D</p>
    <p class="choice-text" data-number="3">{{loadedQuestion.choices4}}</p>
  </div>
  <!--    </div>-->
  <!--  </div>-->
</ion-content>
