<!-- <ion-header>
  <ion-toolbar>
    <ion-title>leaderboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <ion-grid>
    <ion-row >
      <ion-col> <!-- saya raiso ketengahinnya-->
        <ion-avatar>
          <ion-img src="./assets/image/1.png" style="padding-bottom: 5px; width: 170px; height: 170px; position: absolute; top: 18%; display: block; left: 50%; transform: translate(-50%, -50%);"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-top: 5em;">
        <h1 style="text-align: center;">Kejuaraan jalak bali</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>

        
        <ion-list>
          <ion-item *ngFor="let liga of user">
              <ion-avatar>
                <img src="https://cdn.idntimes.com/content-images/community/2019/02/2018-02-01-39875-1517462499-large-60d97e6631e637497c2db252b926af17_600x400.jpg">
              </ion-avatar>

              <ion-label style="padding-left: 10px;">
                <h2>{{ liga.data.name }}</h2>
                <p>{{ liga.data.totalskor }} Xp</p>
              </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
      </ion-col>
    </ion-row>
    </ion-grid>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
    
        <ion-tab-button >
          <ion-icon name="trophy-outline"></ion-icon>
          <!-- <ion-label>Leaderboard</ion-label> -->
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/','home']">
          <ion-icon name="apps-outline"></ion-icon>
          <!-- <ion-label>Menu</ion-label> -->
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/','home','profile']">
          <ion-icon name="person-outline"></ion-icon>
          <!-- <ion-label>Profile</ion-label> -->
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
