.image-center {
  margin:0 auto;
}

.item-avatar {
  margin-top: 50px;
  width: 100% !important;
  height : 100% !important;
  max-width: 150px !important;  //any size
  max-height: 150px !important;
}
