<!-- <ion-header>
  <ion-toolbar>
    <ion-title>leaderboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen="true" class="background">
  <ion-img class="item-avatar image-center" src="/assets/image/trophy.png"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 style="text-align: center;">Kejuaraan jalak bali</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>

        
        <ion-list>
          <ion-item *ngFor="let liga of user">
              <ion-avatar>
                <img src="https://cdn.idntimes.com/content-images/community/2019/02/2018-02-01-39875-1517462499-large-60d97e6631e637497c2db252b926af17_600x400.jpg">
              </ion-avatar>

              <ion-label style="padding-left: 10px;">
                <h2>{{ liga.data.name }}</h2>
                <p>{{ liga.data.totalskor }} Xp</p>
              </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
      </ion-col>
    </ion-row>
    </ion-grid>
  
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
