.card{
  width: 85%;
  height: 22%;
  background-color: aqua;
}
.title{
  text-align:center;
  padding-top:30px;
  font-size: 24px;
  font-weight: bold;
  color: #0d0d0d;
}

.image{
  padding-left: 40px;
  padding-bottom: 10px;
  width: 89%;
}
