<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Hai, {{userName}}</ion-title>
    <ion-avatar slot="end" style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px;" >
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/98/John_Wick_TeaserPoster.jpg/220px-John_Wick_TeaserPoster.jpg">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-card style="height: 200px;">
          <ion-card-header>
            <ion-card-title style="text-align: center;">TOTAL SKOR</ion-card-title>
          </ion-card-header>
        
          <ion-card-content style="align-items: center;">
            <h2 style="border: 1px solid red;
            outline: 5px dotted green; text-align: center; font-size: 30px;">A Heading with a </h2>
            <h1 style="padding-top: 20px; text-align: center;">Poin</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center>
        <ion-label style="text-align:center;">Ayo Belajar Budaya Indonesia!</ion-label>
        <br>
        <ion-label style="text-align:center;">Pilih Kategori!</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides>
          <ion-slide>
            <ion-card style="width: 45%; height: 90%; background-color: aqua;">
              <!-- <img style="width: 85%;" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/98/John_Wick_TeaserPoster.jpg/220px-John_Wick_TeaserPoster.jpg"> -->
              <img src="https://i1.wp.com/satujam.com/data/2015/06/indonesian-tradition.blogspot.in_.jpg?fit=900%2C600&ssl=1"/>
              <ion-card-title style="text-align:center;padding-top:20px; font-size: 24px; font-weight: bold;">Musik</ion-card-title>
<!--              <ion-card-header>-->
<!--                <ion-card-title style="text-align:center;padding-top:20px; font-size: 24px; font-weight: bold;">Musik</ion-card-title>-->
<!--              </ion-card-header>-->
            
              <ion-card-content>
                  <ion-label>ditambahin kata2 aja biar cardnya kebawah ya kali gak apasih aduh pusing ditambahin apa apa apapapapapa</ion-label>
                <br><br>
                <ion-button class="submit-btn" class="primary" (click)="musik()">Mulai</ion-button>
              </ion-card-content>
              
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card style="width: 45%; height: 90%; background-color: aqua;">
              <!-- <img style="width: 85%;" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/98/John_Wick_TeaserPoster.jpg/220px-John_Wick_TeaserPoster.jpg"> -->
              <img src="https://cdn.idntimes.com/content-images/community/2019/02/2018-02-01-39875-1517462499-large-60d97e6631e637497c2db252b926af17_600x400.jpg"/>
              <ion-card-header>
                <ion-card-title style="text-align:center;padding-top:20px; font-size: 24px; font-weight: bold;">Tempat</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <!-- <ion-item> -->
                  <ion-label center>ditambahin kata2 aja biar cardnya kebawah ya kali gak apasih aduh pusing ditambahin apa apa apapapapapa</ion-label>
                <!-- </ion-item> -->
                <br><br>
                <ion-button class="submit-btn" class="primary">Mulai</ion-button>
              </ion-card-content>
              
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card style="width: 45%; height: 90%; background-color: aqua;">
              <!-- <img style="width: 85%;" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/98/John_Wick_TeaserPoster.jpg/220px-John_Wick_TeaserPoster.jpg"> -->
              <img src="https://cdn.idntimes.com/content-images/post/20181212/kuliner-indonessdsdia-87489b810390089e5d15cb5fbdc66865_600x400.jpg"/>
              <ion-card-header>
                <ion-card-title style="text-align:center;padding-top:20px; font-size: 24px; font-weight: bold;">Makanan</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <!-- <ion-item> -->
                  <ion-label>ditambahin kata2 aja biar cardnya kebawah ya kali gak apasih aduh pusing ditambahin apa apa apapapapapa</ion-label>
                <!-- </ion-item> -->
                <br><br>
                <ion-button class="submit-btn" class="primary">Mulai</ion-button>
              </ion-card-content>
              
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button  [routerLink]="['/','home','leaderboard']">
        <ion-icon name="trophy-outline"></ion-icon>
        <!-- <ion-label>Leaderboard</ion-label> -->
      </ion-tab-button>
  
      <ion-tab-button >
        <ion-icon name="apps-outline"></ion-icon>
        <!-- <ion-label>Menu</ion-label> -->
      </ion-tab-button>
  
      <ion-tab-button  [routerLink]="['/','home','profile']">
        <ion-icon name="person-outline"></ion-icon>
        <!-- <ion-label>Profile</ion-label> -->
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>

<!-- <ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer> -->
