<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Hai, {{name}}</ion-title>
    <ion-avatar slot="end" style="margin-right: 20px; margin-top: 5px; margin-bottom: 5px" (click)="pindahprofile()">
      <img src="{{imageUrl}}">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-card style="border: 1px solid #FEBF63; border-radius: 10px; height: 100%;">
          <ion-card-header>
            <ion-card-title style="text-align: center;">TOTAL SKOR</ion-card-title>
          </ion-card-header>
          <ion-card-content style="align-items: center;">
            <h2 class="p-3 mb-2" style="background-color:#FEBF63; text-align: center; font-size: 30px; color: white;border-radius: 10px;"> {{totalskor}} XP</h2>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="text-center" style="padding-top: 15px;">
          <ion-label style="font-size: larger; position: center;" class="ion-text-center" >Ayo Belajar Budaya Indonesia!</ion-label>
          <br>
          <ion-label style="margin-left: auto; font-size: large" class="ion-text-center">Pilih Kategori!</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> 
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="Container mh-100">
    <div class="mh-100">
      <ion-slides pager="true" [options]="sliderConfig">
      <ion-slide *ngFor="let question of question">
          <ion-card class="card-background-page" style="height: max-content; background-color: #8CCFFF;">
            <img [src]="question.image"/>
            <!-- <img style="width: 85%;" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/98/John_Wick_TeaserPoster.jpg/220px-John_Wick_TeaserPoster.jpg"> -->
            <div class="text-center" style="padding-bottom: 10px">
              <ion-text class="card-title">{{question.category}}</ion-text>
            </div>
            <ion-card-content>
              <ion-button class="submit-btn primary" style="--ion-text-color: white;" (click)="musik(question.category)">Mulai</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        </ion-slides>
    </div>
  </div>
</ion-content>

<ion-footer>
  <!-- <ion-label>{{ userId }}</ion-label> -->
 <app-footer></app-footer>
</ion-footer>

<!-- <ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer> -->
